@import "tailwindcss";

@theme {
  --color-primary: #9A7D3A;
  --color-primary-hover: #856D30;
  --color-secondary: #4B894B;
  --color-secondary-hover: #03471C;
  --color-accent: #4B894B;
  --color-accent-hover: #03471C;
  --color-highlight: #4B894B;
  --color-neutral: #E9DC84;
}

@layer base {
  body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
